.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
  
}

.col-xs-4 {
  /* background-color: rgb(40, 182, 201); */
  height: 100vh;
}
.col-xs-8 {
  background-color: rgb(211, 219, 221);
  height: 100vh;
}

.CartList{
  height: 70vh;
}
.CartItem{
  text-align: right  
}
.Menu{
  background-color: rgb(255, 255, 255);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
